[submodule "control/lib/forge-std"]
	path = control/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = chore/v1.9.1
[submodule "control/lib/openzeppelin-contracts"]
	path = control/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v5.0
[submodule "control/lib/v2-core"]
	path = control/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "control/lib/v2-periphery"]
	path = control/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
